* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  .container {
    display: flex;
  }
  .container .img_box {
    display: block;
    width: 45%;
    height: 100vh;
    background: #1c5ea3;
  }
  
  /* .container .img-box img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  } */
  
  .login_field {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login_field .login_box {
    width: 393px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 28px 33px 58px 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login_field .login_box h4 {
    font-size: 20px;
    color: #00a551;
    margin-bottom: 18px;
  }
  .login_field .login_box p {
    font-size: 12px;
    color: #474749;
    margin-bottom: 26px;
  }
  .login_field .login_box .login_form {
    display: flex;
    flex-direction: column;
  }
  .login_field .login_box .login_form label {
    font-size: 12px;
    color: #7f7e83;
    margin-bottom: 12px;
  }
  .login_field .login_box .login_form input {
    width: 310px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    background-color: #f4f4f4;
    padding: 0 10px;
    border: 1px solid #fff;
    transition: .3s all;
  }

  .login_field .login_box .login_form input:focus{
    border-color:#00a551;
  }

  .login_field .login_box .login_form .name {
      margin-bottom: 10px;
    /* margin-bottom: 22px; */
  }
  .login_field .login_box .login_form .error{
      color: red;
      margin-bottom: 25px;
      margin-left: 5px;
  }
  
  .login_field .login_box .login_form .password {
    margin-bottom: 10px;
  }
  
  .login_field .login_box .login_form .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    background-color: #00a551;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    border-radius: 10px;
    margin-bottom: 27px;
    margin-top: 10px;
    transition: .3s all;
  }
  .login_field .login_box .login_form .button:hover{
    background-color: #008d44;
  }
  
  .login_field .login_box .login_form .submit_button {
    display: flex;
    justify-content: center;
  }
  
  .login_field .login_box span {
    font-size: 12px;
    color: #474749;
  }
  .login_field .login_box span a {
    color: #00a551;
    text-decoration: underline;
  }
  
  