* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: poppins;
}

body {
  background-color: #F5F4F0;
  max-width: 1440px;
  margin: 0 auto;
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  transition: .5s;
}

.slick-slider {
  padding: 0rem 0rem;
}

.slick-next {
  right: 30px !important;
  top: 43% !important;
  transform: translate(-50%) !important;
  z-index: 10 !important;
}


.slick-prev {
  left: 30px !important;
  top: 43% !important;
  transform: translate(-50%) !important;
  z-index: 10 !important;
}

.slick-track {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 5rem !important;
}

.slick-slide.slick-current {
  transform: scale(1.2) !important;
  transition: .5s;
}